.container {
  position: relative;
  font-size: 12px;
}

.top-semi-circle {
  height: 10em;
  width: 20em;
  border-radius: 15em 15em 0 0;
  border: 0.5em solid black;
}

.bottom-semi-circle {
  height: 10em;
  width: 20em;
  border-radius: 0 0 15em 15em;
  border: 0.5em solid black;
  z-index: 40;
  position: relative;
}

.white-circle {
  background-color: white;
}

.center-circle {
  height: 4.5em;
  width: 4.5em;
  border-radius: 100%;
  border: 0.5em solid black;
  position: absolute;
  top: 50%;
  left: 10em;
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: white;
}

.pokemon {
  width: 15em;
  height: 15em;
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 10em;
  transform: translate(-50%, -50%);
}
